*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}


.background{
  position: relative;
  color: white;
  background: url('../../assets//background.jpg');
  background-size: cover;
  background-position: top;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}


.heading{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.heading__main{
  margin-bottom: 10px;

  animation-name: main;
  animation-duration: 5s;
}

.heading__sub{
  animation-name: sub;
  animation-duration: 5s;
}

@keyframes sub{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
    transform: translate(-200px);
  }
  100%{
    opacity: 1;
  }
}


@keyframes main{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
    transform: translate(200px);
  }
  100%{
    opacity: 1;
  }
}
