<div class="self">
  <h1 class="title"> Welcome To My Profile </h1>
  <div class="profile">

    <img class="self__image" src="../../assets/profile.jpg">

    <div class="self__data">
      <h3> Thilina Dilshan </h3>
      <h4> Studing at Institute of Technology University of Moratuwa </h4>
      <p>Programming Enthuthiastic</p>
      <h4>Technologies working with : Angular, Flutter, Node, React, MySQL, MongoDB</h4>
    </div>
  </div>

  <div>
    <button class="btn btn1">LinkedIn</button>
    <button class="btn btn2">GitHub</button>
  </div>


</div>
