.self{
  background-color: grey;
  display: flex;
  margin-top: -25vh;
  padding-top: 25vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;

}
.title{
  color: white;

}

.title:hover{
  transform: scale(1.1);
  color: green;
}
.profile{

  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  box-shadow: 3px 3px 5px black;
  transition: all 0.5s;
  margin-bottom: 30px;
  max-width: 600px;

}

.profile:hover{
  transform: scale(1.06);
}

.profile img{
  min-width: 250px;
  height: 300px;
  flex: 1;
}


.self__data{
  margin-left: 20px;
  color: white;
  flex: 1;
}


.btn{
  padding: 10px 30px;
  border-radius: 200px;
}

.btn:focus{
  outline: none;
}

.btn1{
  margin-right: 20px;
  color: white;
  background-color: black;
}

.btn2{
  margin-right: 20px;
  color: black;
  background-color: white;
}

.btn1:hover{
  color: black;
  background-color: white;
}

.btn2:hover{
  color: white;
  background-color: black;
}

p{
  margin: 0;
}

.linkedIn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0 2px 8px 2px white;
  margin: 20px 0;
  padding: 20px;
}
