<div class="technologies">
  <h1 style="text-align: center;"> Technologies I Have Experienced... </h1>
  <div class="tech">
    <img src="../../assets/angular.png">
    <img src="../../assets/react.jpg">
    <img src="../../assets/vue.jpg">
    <img src="../../assets/node.jpeg">
    <img src="../../assets/ts.png">
    <img src="../../assets/js.png">
    <img src="../../assets/flutter.png">
  </div>

  <h2 style="text-align: center;">
    I love to work with Js, Ts and Flutter a lot
  </h2>


</div>
